body {
    font-family: 'Big Shoulders Display', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;900&display=swap');


    /* mobile-map */

    .mobile-map {
        width: 100%;
        height: 574px;
    }

    /* our location */

    .our-location {
        padding: 48px 16px 56px 16px;
        background-color: #151515;
        margin-top: -4px;
    }

    .our-location h1 {
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        color: #FFFFFF;
        margin-bottom: 48px;
    }

    .our-location h2 {
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
        color: #D5966C;
        margin-bottom: 20px;
    }

    #main-location {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .our-location p {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        color: #FFFFFF;
    }

    /* location contact */

    .location-contact {
        background-color: #D5966C;
        padding: 48px 32px;
    }

    .location-contact p {
        margin-top: 38px;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        color: #151515;
        margin-bottom: 38px;
    }

    .social-icon {
        color: black;
    }


    /* main button */


    .back-to-home button {
        padding: 24px 35px 24px 32px;
        background-color: #151515;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 800;
        line-height: 23.94px;
        letter-spacing: 3.64px;
        border: none;
    }
    
    .back-to-home span {
        padding: 25px;
        margin-left: -4px;
        padding-top: 27px;
        background-color: #D5966C;
        padding-top: 28px;
    }
    
    .back-to-home img {
        width: 8px;
        height: 24px;
    }

    .back-to-home {
        display: flex;
        align-content: center;
        position: relative;
        margin-bottom: -76px;
    }

    
@media screen and (max-width: 767px){
    .tablet-map {
        display: none;
    }
    
}

@media screen and (min-width: 768px) {

    /* mobile map */
    .mobile-map {
        display: none;
    }

    /* tablet map */
    .tablet-map {
        width: 100%;
        height: 600px;
    }

    /* main button */

    

    .arrow-left-back-home {
        margin-left: 39px;
    }
    
    /* our-location */

    .our-location {
        padding: 88px 40px 80px 39px;
        display: flex;
        justify-content: center;
    }

    /* location-content */


    .location-content {
        width: 291px;
        margin-right: 68px;
    }

    .location-content h1 {
        width: 55px;
        margin-bottom: 0px;
    }

    .location-addres {
        width: 398px;
    }

    /* location contact */

    .location-contact {
        padding: 56px 40px 56px 39px;
        display: flex;
        justify-content: center;
    }

    .location-contact p {
        margin: 0px 133px 0px 64.95px;
        width: 281px;
    }

    .location-logo {
        width: 110.05px;
        height: 40px;
    }

    .social-icon {
        width: 20px;
        height: 20px;
    }

    .social-icons {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 1439px){
    .desktop-map {
        display: none;
    }
    
}

@media screen and (min-width: 1440px) {

    /* tablet map */

    .tablet-map {
        display: none;
    }

    /* desktop map */

    .desktop-map {
        width: 100%;
        height: 685px;
    }

    /* main button */
    .arrow-left-back-home {
        margin-left: 156px;
    }

    /* location content */ 

    .location-content {
        width: 350px;
        margin-right: 220px;
    }

    .location-addres {
        font-size: 36px;
    }

    /* location contact */

    .location-contact p {
        margin: 0px 280px 0px 140px;
    }

    .location-logo {
        width: 159.57px;
        height: 58px;
    }
}
