body {
    background-color: #FCFAF9;
    font-family: 'Big Shoulders Display', sans-serif;
}

p {
    font-family: 'Outfit', sans-serif;
}

/* modern-art-gallery */

.image-hero-mobile {
    width: 100%;
    height: 240px;
}

.modern-art-content {
    padding: 32px 16px 0px 16px;
}

.modern-art-content h1 {
    width: 343px;
    max-width: 100%;
    color: #151515;
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
    margin-bottom: 32px;
}

.modern-art-content p {
    width: 343px;
    max-width: 100%;
    color: #444444;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 32px;
}

.our-location button {
    padding: 24px 35px 24px 32px;
    background-color: #151515;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    line-height: 23.94px;
    letter-spacing: 3.64px;
    border: none;
}

.our-location span {
    padding: 25px;
    margin-left: -4px;
    padding-top: 27px;
    background-color: #D5966C;
}

.our-location img {
    width: 8px;
    height: 24px;
}

/* grid container */

.grid-container {
    padding: 120px 16px;
    /* display: grid;
    grid-template-rows: 320px 239px 480px 200px 293px;
    gap: 16px; */
    
}

.grid-item1-mobile {
    width: 100%;
    height: 320px;
}

.grid-item2-mobile h1 {
    width: 343px;
    max-width: 100%;
    color: #151515;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    margin-top: 25px;
    margin-bottom: 21px;
}

.grid-item2-mobile p {
    width: 343px;
    max-width: 100%;
    color: #444444;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 32px;
}

.grid-item3-mobile {
    width: 100%;
    height: 480px;
    margin-bottom: 16px;
}

.grid-item4-mobile {
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
}

.grid-item5-mobile {
    background-color: #151515;
    padding: 48px 24px 47px 24px;
}

.grid-item5-mobile h1 {
    width: 295px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    margin-bottom: 24px;
}

.grid-item5-mobile p {
    width: 295px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

/* footer */

.footer-contact {
    background-color: #151515;
}

.footer-div {
    padding: 48px 32px 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.logo-light {
    width: 110.05px;
    max-width: 100%;
    height: 40px;
    max-height: 100%;
}

.footer-div p {
    width: 311px;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.social-icons {
    display: flex;
    gap: 20px;
}


@media screen and (max-width: 767px) {
    .image-hero-tablet {
        display: none;
    }

    .grid-item1-tablet, .grid-item3-tablet,  .grid-item4-tablet, .grid-item5-tablet, .grid-item2-tablet  {
        display: none;
    }
}



