.grid-container {
    width: 1080px;
    margin: 0px auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 635px 445px;
    grid-template-rows: 400px 313px 377px;
}

.content h1 {
    width: 350px;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    color: #151515;
    margin-right: 125px;
}

.content p {
    width: 350px;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: #444444;
    margin-right: 125px;
}

.content {
    height: 400px;
}



.content2 {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 445px;
    height: 377px;
    background-color: #151515;
    padding: 65px 47px 64px 48px;
}


.content2 h1 {
    width: 350px;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    color: #FFFFFF;
}

.content2 p {
    width: 350px;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: #FFFFFF;
}